<!DOCTYPE html>
<html>
  <head>
    <title>SSE Client</title>
  </head>
  <body>
    <div>
      <div id="messages">Messages Only Without Event</div>
      <br />
      <div id="userconnect">User Connect Events</div>
      <br />
      <div id="usermessage">User Messages Events</div>
      <br />
      <button onclick="onStream()">Stream</button>
    </div>
  </body>
  <script>
    const messages = document.getElementById("messages");
    const userconnect = document.getElementById("userconnect")
    const usermessage = document.getElementById("usermessage")


    function onStream() {
      const eventSource = new EventSource("/stream");
      eventSource.onmessage = function (event) {
        let div = document.createElement("div");
        div.innerHTML = event.data;
        messages.append(div)
      };

      eventSource.addEventListener("userconnect", (event) => {
        let div = document.createElement("div");
        div.innerHTML = event.data;
        userconnect.append(div)
      });

      eventSource.addEventListener("usermessage", (event) => {
        let div = document.createElement("div");
        div.innerHTML = event.data;
        usermessage.append(div)
      });

      eventSource.onerror = function (error) {
        console.error("EventSource failed:", error);
        eventSource.close();
      };
    }
  </script>
</html>
